*{
  margin: 0%;  
  overflow: hidden;
}

body{
    background-color: #fafafb;
}

.containery{
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 9rem;
}

h1{
    font-size: 60px;
    font-weight: 700;
    /* max-width: 18rem; */
}
.btn-primary{
    background-color: black;
}
.pic{
    /* width: 30rem; */
    width: 70%;
    margin-top: -6rem;
    
}
.register{
    border-color: black;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
.login{
    margin-right: 50px;
    color: black;
}